@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root
{
    --bg-color: #ffffff;
    --second-bg-color: #d3d5f5;
    --text-color: #000000;
    --maion-color: #06307e;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

.blurred
{
    filter: blur(2px);
}

section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo
{
    width: 15dvw;
    padding-left: 20px;
}

.navbar{
    padding-right: 20px;
}

.navbar a
{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 2.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active
{
    color: var(--maion-color);
}

.navbar .button
{
    background-color: var(--maion-color);
    box-shadow: 0 var(--text-color);
    color: var(--bg-color);
    padding: .7rem 1.3rem;
    margin: 0 2rem;
    margin-left: 6rem;
}

.navbar .button:hover
{
    background-color: #5050e0;
    color: var(--bg-color);
}

#menu-icon
{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

span
{
    color: var(--maion-color);
}

.social-media a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--maion-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--maion-color);
    margin: 1rem;
    transition: .5s ease;
}

.social-media a:hover
{
    background-color: var(--maion-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--maion-color);
}

.button
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--maion-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--maion-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.button:hover
{
    box-shadow: none;
    cursor: pointer;
}

.name
{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 15dvw;
    background-color: var(--bg-color);
}

.name h2
{
    font-size: 3rem;
}

.contact
{
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: space-around;
}

.leflate
{
    width: 50%;
    padding: 50px;
    background-color: var(--maion-color);
    color: var(--bg-color);
    border-radius: 2rem;
}

.leflate h2{
    font-size: 35px;
}

.leflate p {
    font-size: 12px;
}

.leflate h3{
    font-size: 20px;
}



.contact h2,
.name h2
{
    margin-bottom: 3rem;
}

.contact form
{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    /* border: .2rem solid var(--text-color); */
    border-radius: 2rem;
}

.contact form .input-box
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field
{
    width: 48.5%;
}

.contact form .input-box .field input,
.contact form textarea
{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    /* border: 1px solid var(--maion-color); */
    border-radius: 1.6rem;
    box-shadow: inset 1rem 1rem 1rem #cbc3d1, inset -1rem -1rem 1rem #ffffff;
    margin: .7rem 0;
}

.contact form .input-box .error input,
.contact form .item.error
{
    background-color: #f0d6d6;
}

.contact form .input-box .field input
{
    width: 100%;
}

.mobile {
    -moz-appearance: textfield;
}
.mobile::-webkit-outer-spin-button,
.mobile::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.contact form textarea
{
    resize: none;
}

.error-text
{
    font-size: 1.4rem;
    color: #d93025;
    text-align: left;
    margin: -1rem 0 1rem;
    display: none;
}

.field.error .error-text
{
    display: block;
}

.contact form .button
{
    margin-top: 2rem;
    cursor: pointer;
}

.services-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box
{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover
{
    border-color: var(--maion-color);
    transform: scale(1.02);
}

.services-box i,
.model i
{
    font-size: 7rem;
    color: var(--maion-color);
}

.services-box h3
{
    font-size: 2.6rem;
}

.services-box p,
.services-box a
{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.newsletter
{
    width: 100%;
    height: 20rem;
    background: -webkit-linear-gradient(#ffffff 50%, rgb(80, 80, 224) 50%);
}

.newsletter-layer
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    margin: 0 16rem;
    background: var(--second-bg-color);
    box-sizing: border-box;
    border-radius: 4rem;
}

.text-layer h6
{
    font-size: 1.4rem;
}

.text-layer h2
{
    font-size: 3.6rem;
}

.input-layer
{
    display: flex;
    column-gap: .6rem;
}


.input-layer input,
.input-layer #interest
{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    /* border: 1px solid var(--maion-color); */
    border-radius: 1.6rem;
    box-shadow: inset 1rem 1rem 1rem #cbc3d1, inset -1rem -1rem 1rem #ffffff;
    margin: .7rem 0;
}

.input-layer .place 
{
    background: #c5c2c2;
    color: #1d1c1c;
}

.input-layer a
{
    padding: 1.2rem 8rem;
    height: 5rem;
    margin-top: 1rem;
}

.footer
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: rgb(80, 80, 224);
    color: var(--bg-color);
}

.footer-details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    font-size: 1.6rem;
    margin-top: 6rem;
}

.footer-details h3
{
    color: var(--bg-color);
    text-decoration: underline;
}

.details
{
    display: flex;
    width: 30%;
    flex-direction: column;
    row-gap: 2rem;
}

.footer-logo img
{
    width: 60%;
}

.social-icon
{
    display: flex;
    column-gap: 2rem;
    margin-bottom: 4rem;
}

.social-icon .social-media a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0;
    background: var(--bg-color);
}

.social-icon .social-media a:hover
{
    background: var(--maion-color);
    border-color: var(--bg-color);
    box-shadow: 0 0 1rem var(--bg-color);
}

.touch
{
    display: flex;
    flex-direction: column;
    width: 20%;
    row-gap: 1rem;
}

.touch a,
.quick-links a
{
    color: var(--bg-color);
    transition: .5s ease;
}

.touch a:hover,
.quick-links a:hover
{
    color: var(--maion-color);
}

.footer-details span
{
    font-size: 2rem;
}

.quick-links
{
    display: flex;
    flex-direction: column;
    width: 20%;
    row-gap: 1rem;
}

.subscribe
{
    display: flex;
    flex-direction: column;
    width: 20%;
    row-gap: 1rem;
}

.subscribe input
{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    /* border: 1px solid var(--maion-color); */
    border-radius: 1.6rem;
    box-shadow: inset 1rem 1rem 1rem #cbc3d1, inset -1rem -1rem 1rem #ffffff;
    margin: .7rem 0;
}

.subscribe .button
{
    padding: 1rem 2rem;
}

.footer-text p
{
    font-size: 1.6rem;
}

.footer-iconTop a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--maion-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover
{
    box-shadow: 0 0 1rem var(--maion-color);
}

.footer-iconTop a i
{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .services {
        padding-bottom: 7rem;
    }


    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .logo {
        width: 30dvw;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }


    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .name
    {
        height: 40dvw;
        
    }

    .contact {
        flex-direction: column-reverse;
    }

    .leflate {
        width: 100%;
    }

}

@media (max-width: 617px) {
}

@media (max-width: 580px) {

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-iconTop {
        margin-bottom: 2rem;
    }
}

